table, th, td {
border: 2px solid white;
border-collapse: collapse;
}
th, td {
background-color: coral;
opacity: 0.9;
}
body {
font-family: "Lucida Console", "Courier New", monospace;
color: white;
border: 10px dotted black;
padding: 15px;
background-clip: padding-box;
background-image: url("https://png.pngtree.com/background/20210715/original/pngtree-simple-black-gourmet-menu-
background-picture-image_1317710.jpg");
opacity: "0.3";
}